@font-face {
    font-family: 'Montserrat';
    src: url('../szbzmmny.html')/*tpa=szbzmmny.html*/ format('woff2'),
        url('../m9v81ndy.html')/*tpa=m9v81ndy.html*/ format('woff'),
        url('../a0sia435.html')/*tpa=a0sia435.html*/ format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';

    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../guy1g0k0.html')/*tpa=guy1g0k0.html*/ format('woff2'),
        url('../z6rjvc78.html')/*tpa=z6rjvc78.html*/ format('woff'),
        url('../1wpm6kjt.html')/*tpa=1wpm6kjt.html*/ format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../5920mzhe.html')/*tpa=5920mzhe.html*/ format('woff2'),
        url('../-f27larr.html')/*tpa=-f27larr.html*/ format('woff'),
        url('../f9cl-rtv.html')/*tpa=f9cl-rtv.html*/ format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../dei6m_xk.txt.html')/*tpa=dei6m_xk.txt*/ format('woff2'),
        url('../_jsfe30l.html')/*tpa=_jsfe30l.html*/ format('woff'),
        url('../xd52ilwz-2.html')/*tpa=xd52ilwz-2.html*/ format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../bvuagmki.html')/*tpa=bvuagmki.html*/ format('woff2'),
        url('../bg0mo75r.html')/*tpa=bg0mo75r.html*/ format('woff'),
        url('../k-a04__4.html')/*tpa=k-a04__4.html*/ format('truetype');
    font-weight: 900;
    font-style: normal;
}





